<script type="text/x-red" data-template-name="Divider">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="divider.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]divider.placeholder.name">
  </div>
  <div class="form-row">
    <label for="node-input-direction"><i class="fa fa-arrows"></i>  <span data-i18n="divider.label.direction"></span></label>
    <select id="node-input-direction" style="width:150px;">
      <option value="horizontal">Horizontal</option>
      <option value="vertical">Vertical</option>
    </select>
  </div>
</script>

<script type="text/x-red" data-help-name="Divider">
  <p>Jared UIComponents - Divider</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of divider </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Divider', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      direction: { value: 'horizontal', required: true },
    },
    color: '#CCCCCC',
    icon: 'divider.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Divider';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
