<script type="text/x-red" data-template-name="Waveform">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name" style="width: 140px;"><i class="fa fa-tag"></i>  <span data-i18n="waveform.label.name"></span></label>
    <input type="text" id="node-input-name" style="width: 68%;" data-i18n="[placeholder]waveform.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-backgroundColor" style="width: 140px;"><i class="fa fa-paint-brush"></i> <span data-i18n="waveform.label.backgroundColor"></span></label>
    <input type="text" id="node-input-backgroundColor" style="width: 68%;" data-i18n="[placeholder]waveform.placeholder.backgroundColor">
  </div>
  <br/>
  <div class="form-row"><i class="fa fa-line-chart"></i>  <span data-i18n="waveform.label.chartConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="waveform.label.xAxisMaxDisplayLength"></span>: <input type="text" id="node-input-xAxisMaxDisplayLength" data-i18n="[placeholder]waveform.placeholder.xAxisMaxDisplayLength" style="width:100px;"/>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-showAxisLabel" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showAxisLabel">
      <span data-i18n="waveform.label.showAxisLabel"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Waveform">
  <p>Jared Instruments - Waveform</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of waveform </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Waveform', {
    category: 'Jared Instruments',
    defaults: {
      jcid: { value: '' },
      name: { value: '', required: true },
      backgroundColor: { value: 'white' },
      xAxisMaxDisplayLength: { value: 100, required: true, validate: RED.validators.number() },
      showAxisLabel: { value: true },
    },
    color: '#FFA500',
    icon: 'waveform.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Waveform Display';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
