<script type="text/x-red" data-template-name="Button">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name" style="width: 120px;"><i class="fa fa-tag"></i>  <span data-i18n="button.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]button.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-text" style="width: 120px;"><i class="fa fa-pencil-square-o"></i>  <span data-i18n="button.label.text"></span></label>
    <input type="text" id="node-input-text" data-i18n="[placeholder]button.placeholder.text" />
  </div>
  <div class="form-row">
    <label for="node-input-size" style="width: 120px;"><i class="fa fa-arrows-h"></i>  <span data-i18n="button.label.size"></span></label>
    <select id="node-input-size" style="width:150px;">
      <option value="mini">mini</option>
      <option value="tiny">tiny</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
      <option value="big">big</option>
      <option value="huge">huge</option>
      <option value="massive">massive</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-color" style="width: 120px;"><i class="fa fa-paint-brush"></i>  <span data-i18n="button.label.color"></span></label>
    <select id="node-input-color" style="width:150px;">
      <option value="">standard</option>
      <option value="red">red</option>
      <option value="orange">orange</option>
      <option value="yellow">yellow</option>
      <option value="olive">olive</option>
      <option value="green">green</option>
      <option value="teal">teal</option>
      <option value="blue">blue</option>
      <option value="violet">violet</option>
      <option value="purple">purple</option>
      <option value="pink">pink</option>
      <option value="brown">brown</option>
      <option value="grey">grey</option>
      <option value="black">black</option>
      <option value="facebook">facebook</option>
      <option value="google plus">google plus</option>
      <option value="instagram">instagram</option>
      <option value="linkedin">linkedin</option>
      <option value="twitter">twitter</option>
      <option value="vk">vk</option>
      <option value="youtube">youtube</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-icon" style="width: 120px;"><i class="fa fa-th-large"></i>  <span data-i18n="button.label.icon"></span></label>
    <input type="text" id="node-input-icon" data-i18n="[placeholder]button.placeholder.icon" />
  </div>
  <div class="form-row">
    <label for="node-input-image" style="width: 120px;"><i class="fa fa-picture-o"></i>  <span data-i18n="button.label.image"></span></label>
    <input type="text" id="node-input-image" data-i18n="[placeholder]button.placeholder.image" />
  </div>
  <div class="form-row">
    <label for="node-input-action" style="width: 120px;"><i class="fa fa-arrow-right"></i>  <span data-i18n="button.label.action"></span></label>
    <select id="node-input-action" style="width:250px;">
      <option value="NodeSend">Send action payload</option>
      <option value="UIEvent">Fire an UI event</option>
      <option value="UINavigate">Navigate to UI panel/anchor</option>
      <option value="FileDownload">File download</option>
      <option value="FileUpload">File upload</option>
      <option value="LogIn">Log in</option>
      <option value="SignUp">Sign up</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-actionPayload" style="width: 120px;"><i class="fa fa-envelope"></i>  <span data-i18n="button.label.actionPayload"></span></label>
    <input type="text" id="node-input-actionPayload" data-i18n="[placeholder]button.placeholder.actionPayload" />
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-basic" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-basic" style="width: 150px;">
      <span data-i18n="button.label.basic"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-circular" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-circular" style="width: 150px;">
      <span data-i18n="button.label.circular"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-disabled" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-disabled" style="width: 150px;">
      <span data-i18n="button.label.disabled"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-loadingOnClick" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-loadingOnClick" style="width: 150px;">
      <span data-i18n="button.label.loadingOnClick"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Button">
  <p>Jared UIComponents - Button</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of button </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Button', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      text: { value: '' },
      size: { value: 'medium' },
      color: { value: '' },
      image: { value: '' },
      icon: { value: '' },
      image: { value: '' },
      basic: { value: false },
      circular: { value: false },
      disabled: { value: false },
      loadingOnClick: { value: false },
      action: { value: 'NodeSend', required: true },
      actionPayload: { value: '' },
    },
    color: '#CCFFAA',
    icon: 'button.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Button';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
