<script type="text/x-red" data-template-name="Progress">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="progress.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]progress.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-size"><i class="fa fa-arrows-h"></i>  <span data-i18n="progress.label.size"></span></label>
    <select id="node-input-size" style="width:150px;">
      <option value="tiny">tiny</option>
      <option value="small">small</option>
      <option value="medium">medium</option>
      <option value="large">large</option>
      <option value="big">big</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-color"><i class="fa fa-paint-brush"></i>  <span data-i18n="progress.label.color"></span></label>
    <select id="node-input-color" style="width:150px;">
      <option value="">standard</option>
      <option value="red">red</option>
      <option value="orange">orange</option>
      <option value="yellow">yellow</option>
      <option value="olive">olive</option>
      <option value="green">green</option>
      <option value="teal">teal</option>
      <option value="blue">blue</option>
      <option value="violet">violet</option>
      <option value="purple">purple</option>
      <option value="pink">pink</option>
      <option value="brown">brown</option>
      <option value="grey">grey</option>
      <option value="black">black</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-percent"><i class="fa fa-percent"></i>  <span data-i18n="progress.label.percent"></span></label>
    <input type="number" id="node-input-percent" data-i18n="[placeholder]progress.placeholder.percent" />
  </div>
  <div class="form-row">
    <label for="node-input-label"><i class="fa fa-hashtag"></i>  <span data-i18n="progress.label.label"></span></label>
    <input type="text" id="node-input-label" data-i18n="[placeholder]progress.placeholder.label" />
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-active" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-active" style="width: 300px">
      <span data-i18n="progress.label.active"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-disabled" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-disabled" style="width: 300px">
      <span data-i18n="progress.label.disabled"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-hidden" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-hidden" style="width: 300px">
      <span data-i18n="progress.label.hidden"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Progress">
  <p>Jared UIComponents - Progress</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of progress </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Progress', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      text: { value: '' },
      size: { value: 'medium' },
      color: { value: '' },
      percent: { value: 0 },
      label: { value: '' },
      active: { value: false },
      disabled: { value: false },
      hidden: { value: false },
    },
    color: '#FFB286',
    icon: 'progress.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Progress';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
