<script type="text/x-red" data-template-name="List">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i> <span data-i18n="list.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]list.placeholder.name">
  </div>
  <div class="form-row">
    <label for="node-input-style"><i class="fa fa-tag"></i>  <span data-i18n="list.label.style"></span></label>
    <select id="node-input-style" style="width:150px;">
      <option value="list">List</option>
      <option value="grid">Grid</option>
    </select>
  </div>
  <br/>

  <div class="form-row"><i class="fa fa-line-tag"></i>  <span data-i18n="list.label.actionConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="list.label.action"></span>:
    <select id="node-input-action" style="width:250px;">
      <option value="NodeSend">Send action payload</option>
      <option value="UIEvent">Fire an UI event</option>
      <option value="UINavigate">Navigate to UI panel/anchor</option>
    </select>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="list.label.actionPayload"></span>: <input type="text" id="node-input-actionPayload" data-i18n="[placeholder]list.placeholder.actionPayload" style="width:250px;"/>
  </div>

  <div class="form-row"><i class="fa fa-line-tag"></i>  <span data-i18n="list.label.rowConfig"></span>:</div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="list.label.rowWidth"></span>: <input type="text" id="node-input-rowWidth" data-i18n="[placeholder]list.placeholder.rowWidth" style="width:250px;"/> (<span data-i18n="list.label.rowWidthNote"></span>)
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="list.label.rowHeight"></span>: <input type="text" id="node-input-rowHeight" data-i18n="[placeholder]list.placeholder.rowHeight" style="width:250px;"/>
  </div>
  <div class="form-row">
    <label style="width:30px;"></label>
    <span data-i18n="list.label.rowPadding"></span>: <input type="text" id="node-input-rowPadding" data-i18n="[placeholder]list.placeholder.rowPadding" style="width:250px;"/>
  </div>
  <br/>

  <div class="form-row">
    <input type="checkbox" id="node-input-showBorder" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-showBorder" style="width: 300px">
      <span data-i18n="list.label.showBorder"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-divided" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-divided" style="width: 300px">
      <span data-i18n="list.label.divided"></span>
    </label>
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-selection" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-selection" style="width: 300px">
      <span data-i18n="list.label.selection"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="List">
  <p>Jared UIComponents - List</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of list </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('List', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      style: { value: 'list' },
      action: { value: 'NodeSend' },
      actionPayload: { value: '' },
      rowWidth: { value: 256 },
      rowHeight: { value: 64 },
      rowPadding: { value: '' },
      showBorder: { value: false },
      divided: { value: false },
      selection: { value: false },
    },
    color: '#DB8CFF',
    icon: 'list.png',
    inputs: 1,
    outputs: 1,
    label: function() {
      return this.name || 'Untitled';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
