<script type="text/x-red" data-template-name="Notification">
  <div class="form-row">
    <input type="hidden" id="node-input-jcid" />
  </div>
  <div class="form-row">
    <label for="node-input-name"><i class="fa fa-tag"></i>  <span data-i18n="notification.label.name"></span></label>
    <input type="text" id="node-input-name" data-i18n="[placeholder]notification.placeholder.name" />
  </div>
  <div class="form-row">
    <label for="node-input-title"><i class="fa fa-pencil-square-o"></i>  <span data-i18n="notification.label.title"></span></label>
    <input type="text" id="node-input-title" data-i18n="[placeholder]notification.placeholder.title" />
  </div>
  <div class="form-row">
    <label for="node-input-message"><i class="fa fa-paragraph"></i>  <span data-i18n="notification.label.message"></span></label>
    <input type="text" id="node-input-message" data-i18n="[placeholder]notification.placeholder.message" />
  </div>
  <div class="form-row">
    <label for="node-input-level"><i class="fa fa-level-up"></i>  <span data-i18n="notification.label.level"></span></label>
    <select id="node-input-level" style="width:150px;">
      <option value="info">info</option>
      <option value="success">success</option>
      <option value="warning">warning</option>
      <option value="error">error</option>
    </select>
  </div>
  <div class="form-row">
    <label for="node-input-autoDismiss"><i class="fa fa-clock-o"></i>  <span data-i18n="notification.label.autoDismiss"></span></label>
    <input type="text" id="node-input-autoDismiss" data-i18n="[placeholder]notification.placeholder.autoDismiss" />
  </div>
  <div class="form-row">
    <input type="checkbox" id="node-input-dismissable" style="display: inline-block; width: auto; vertical-align: top;">
    <label for="node-input-dismissable" style="width: 300px">
      <span data-i18n="notification.label.dismissable"></span>
    </label>
  </div>
</script>

<script type="text/x-red" data-help-name="Notification">
  <p>Jared UIComponents - Notification</p>
  <h3>Inputs</h3>
  <dl class="message-properties">
    <dt>props
      <span class="property-type">object</span>
    </dt>
    <dd> the properties of notification </dd>
  </dl>
  <h3>Output</h3>
</script>

<script type="text/javascript">
  /* eslint-disable */
  RED.nodes.registerType('Notification', {
    category: 'Jared UIComponents',
    defaults: {
      jcid: { value: '' },
      name: { value: '' },
      title: { value: '' },
      message: { value: '' },
      level: { value: 'info' },
      autoDismiss: { value: 5 },
      dismissable: { value: true },
    },
    color: '#EE99CC',
    icon: 'notification.png',
    inputs: 1,
    outputs: 0,
    label: function() {
      return this.name || 'Notification';
    },
    labelStyle: function() {
      return this.name ? '' : 'node_label_italic';
    },
    oneditprepare: function() {
      $('#node-input-jcid').val(this.jcid || this.id)
      if (this.id !== this.jcid) {
        if (RED.nodes.node(this.jcid)) {
          // This node is copied from another one with duplicated JCID,
          // We have to update the JCID with its own ID.
          $('#node-input-jcid').val(this.id)
        }
      }
    }
  });
</script>
